/*
* @descrtion: This is the CSS file for the "standout" design of the animal trading card.
* @fonts: Google Fonts - https://fonts.google.com/
* @design: The background image, (bg.png) is fully licensed. The background image, as well as overall design inspiration, is from https://elements.envato.com/animal-life-instagram-story-GAH8ZRE  
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background: linear-gradient(to bottom, #2b604b, #193c2e);
    background: #193c2e url('bg.png') no-repeat bottom right;
    background-size: cover;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    margin:0;
}

.animal-card{    
    background: #0e3025 url('bg.png') no-repeat center center;
    background-size:cover;
    border-radius:4px;
    border-color: #293b35;
    color:#fff;
    padding: 40px 60px 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.animal-card img{
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.animal-card h3{
    font-size:84px;
    font-family: 'Bebas Neue', sans-serif;
    color:#c29774;
    letter-spacing: .15rem;
    line-height: 1;
    margin:20px;
}

.animal-card .description{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 320px;
    background: #0f4231;
    padding: 20px;
    border: 1px solid #214b39;
    border-radius: 4px;
    box-shadow: rgba(96, 96, 119, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.animal-card .description .facts .label{
    font-weight: bold;
    color:#97c2a8;
}